//color
$white: white;
$black: black;

$half-baked: #89cacb;
$flamingo: #ec612b;
$color-red: #f50000;
$color-harley-orange: #DC220D;
$color-white-smoke: #eeeeee;
$color-solitude: #dfe5e9;
$color-nobel: #9f9d9d;
$color-grey: #7a7a7a;
$color-azure-radiance: #0b78ff;
$color-maya-blue: #54bff7;
$color-curios-blue: #3783A9;
$color-arapawa: #254659;
$color-ocean-green: #4daf8c;
$color-solitude: #eff1f6;
$color-solitude-2: #f7f8fb;
$color-dark-gray: #a4a4a4;
$color-link-water: #CCD5DC;

$primary-color: $color-maya-blue;
$secondary-color: $color-curios-blue;
$text-color: $color-arapawa;

//size
$max-width: 1440px;

$header-height: 120px;
